{% extends 'layout.html' %}
{% block link %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock link %}
{% block subheader %}
{% endblock subheader %}
{% block main %}
	<div class="content-section">
		<h3><b>Username:</b> {{ user.username }}</h3>
		<p><b>Name:</b> {{ user.fname }} {{ user.lname }}</p>
		<p><b>Bio:</b> {{ user.bio }}</p>
		<p><b>Email:</b> {{ user.email }}</p>
		<p><b>Country:</b> {{ user.country }}</p>
		<p><b>State:</b> {{ user.state }}</p>
		<p><b>Preferred language:</b> {{ user.pref_lang }}</p>
		<p><b>Date Created:</b> {{ user.created_at.year }}-{{ user.created_at.month }}-{{ user.created_at.day }}</p>
		{% if current_user.username == user.username %}
			<a class="btn btn-primary" href="{{ url_for('updateprofile') }}">Edit profile</a>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
				Delete profile
			</button>

			<!-- Modal -->
			<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	 	 		<div class="modal-dialog" role="document">
    				<div class="modal-content">
      					<div class="modal-header">
        					<h5 class="modal-title" id="deleteModalLabel">This will permanently delete your profile</h5>
        					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          						<span aria-hidden="true">&times;</span>
        					</button>
      					</div>
      					<div class="modal-body">
        					Are your sure?
      					</div>
      					<div class="modal-footer">
							<form>
        						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							</form>
							<form action="{{ url_for('deleteprofile', user_id=user.id) }}" method="POST">
        						<button type="submit" class="btn btn-danger">Confirm</button>
							</form>
      					</div>
    				</div>
  				</div>
			</div>
		{% else %}
			<a class="btn btn-primary" href="{{ url_for('wall') }}">back to the wall</a>
		{% endif %}
	</div>
{% endblock main %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock script %}
