{% extends 'layout.html' %}
{% block header %}
    <h1>Profile page</h1>
{% endblock header %}
{% block main %}
	<p>User ID: {{ user.id }}</p>
	<p>Name: {{ user.fname }} {{ user.lname }}</p>
	<p>Username: {{ user.username }}</p>
	<p>Bio: {{ user.bio }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Country: {{ user.country }}</p>
	<p>State: {{ user.state }}</p>
	<p>Preferred language: {{ user.pref_lang }}</p>
	<p>Date Created: {{ user.created_at.year }}-{{ user.created_at.month }}-{{ user.created_at.day }}</p>
{% endblock main %}
