{% extends 'layout.html' %}
{% block subheader %}
    <h1>Register page</h1>
{% endblock subheader %}
{% block nav %}
{% endblock nav %}
{% block main %}
	<div class="form-content">
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<p class="form-title">Create Account</p>
				<div class="form-field">
					{{ form.fname.label }}
					{{ form.fname() }}
				</div>
				<div class="form-field">
					{{ form.lname.label }}
					{{ form.lname() }}
				</div>
				<div class="form-field">
					{{ form.username.label }}
					{{ form.username() }}
				</div>
				<div class="form-field">
					{{ form.email.label }}
					{{ form.email() }}
				</div>
				<div class="form-field">
					{{ form.password.label }}
					{{ form.password() }}
				</div>
				<div class="form-field">
					{{ form.confirm.label }}
					{{ form.confirm() }}
				</div>
				<div class="form-field">
					{{ form.signup(class="btn") }}
				</div>
			</fieldset>
		</form>
		<small>
			Already have an account?<a href="{{ url_for('login') }}">sign in</a>
		</small>
	</div>
{% endblock main %}
