{% extends 'layout.html' %}
{% block meta %}
	<meta http-equiv="refresh" content="30">
{% endblock meta %}
{% block main %}
	<div class="wall-container">
		{% for post, id in posts %}
			{% if post.content %}
				<article class="wall-post" id={{ id }}>
					<p class="wall-post-content"><a href="/profile/{{ post.user.username }}">{{ post.content }}</a></p>
					<small class="nametag">by {{ post.user.username }}</small>
					{% if post.user == current_user or current_user.email == "orumgbeugbekile@gmail.com" %}
						<a class="del-btn" href="{{ url_for('deletePost', post_id=post.id) }}">delete</a>
					{% endif %}
				</article>
			{% else %}
				<article class="wall-post" id={{ id }}>
					<p class="wall-post-content"><a href="{{ url_for('newpost') }}">{{ post }}</a></p>
				</article>
			{% endif %}
		{% endfor %}
	</div>
	<a id="add-label" href="{{ url_for('newpost') }}">+</a>
	<span class="page-nav-container">
		{% for page_num in pager.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if page_num %}
				{% if pager.page == page_num %}
					<a class="page-current" href="{{ url_for('wall', page=page_num) }}">{{ page_num }}</a>
				{% else %}
					<a class="page-nav" href="{{ url_for('wall', page=page_num) }}">{{ page_num }}</a>
				{% endif %}
			{% else %}
				...
			{% endif %}
		{% endfor %}
	</span>
{% endblock main %}
