header {
	width: 100%;
	position: relative;
	height: 40px;
	background-color: maroon;
}

header p {
	font-weight: bold;
	padding: 10px;
	margin-top: auto;
	text-shadow: 2px 2px grey;
	font-size: 20px;
}

h1 {
	margin-left: 200px;
}

body {
	background-color: white;
	padding: 0px;
	margin: 0px;
	font-family: arial, helvetica, sans-serif;
}

/*Profile page*/
div.content-section {
	width: 60%;
	margin-top: 50px;
	margin-left: 10%;
}

div.update-account-form {
	margin-left: 10%;
}

.form-group {
	width: 550px;
	margin-top: 30px;
	padding-left: 50px;
	border-radius: 4px;
}

form {
	margin-bottom: 60px;
}

/*Wall page styling*/
div.wall-container {
	border: 4px solid maroon;
	width: 85%;
	height: 75vh;
	margin: 5vh;
	margin-left: 10%;
	margin-bottom: 1%;
	background-color: maroon;
	box-sizing: border-box;
	flex-wrap: wrap;
	display: flex;
}

article.wall-post {
	display: inline-block;
	width: 32%;
	height: 32%;
	border: 1px solid #333;
	border-radius: 4px;
	margin: 1px;
	background-color: white;
	padding: 4px;
	box-sizing: border-box;
	overflow: auto;
}

.wall-post-content {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: inherit;
}

.wall-post-content > * {
	text-decoration: none;
	color: inherit;
}

.nametag {
	display: flex;
	justify-content: flex-end;
	margin-left: 5px;
	color: black;
}

a.del-btn {
	text-decoration: none;
	border: 1px solid black;
	border-radius: 4px;
	padding: 1px 2px;
	font-weight: bold;
	font-size: 14px;
	color: black;
	background-color: red;
}

span.page-nav-container {
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 5px;
	margin-left: 30%;
}

.page-current {
	text-decoration: none;
	color: black;
	background-color: maroon;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 105%;
	font-weight: bold;
}

.page-nav {
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 4px;
	padding: 2px 4px;
	font-size: 14px;
	font-weight: bold;
}

#add-label {
 	position: absolute; 
	background-color: #3f3f3f;
	text-decoration: none;
	color: white;
	border: 1px solid black;
	border-radius: 4px;
 	bottom: 80px;
 	left: 5px;
	padding: 0px 10px;
	font-size: 30px;
    cursor: pointer;
}

#one, #four, #seven {
	color: green;
}
#two, #five, #eight {
	color: blue;
}
#three, #six, #nine {
	color: violet;
}

/* Home page articles style */
div.articles-outline {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	min-height: 220px;
	max-width: 500px;
	/*border of div that holds articles on home page*/
	border: 1px solid none;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 110px;
}

.article-box {
	display: grid;
	flex-basis: 100%;
	background-color: black;
	max-width: 200px;
	text-align: center;
	height: inherit;
	font-size: 30px;
	border: 3px solid maroon;
	margin: 5px auto;
}

.article-box a {
	padding-top: 25%;
	padding-bottom: 25%;
	text-decoration: none;
	color: white;
}

footer {
	text-align: center;
	background-color: #333;

	height: 32px;
	width: 100%;
	bottom: 0;
	position: fixed;
}

footer p {
	color: maroon;
}

/* Styles for form items */
fieldset{
	width: 400px;
	flex-wrap: wrap;
	background-color: grey;
	margin: auto;
}

.form-title {
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
}

.form-field {
	padding: 10px;
}

.btn {
	color: white;
	background-color: black;
	font-weight: bold;
	padding: 5px 10px;
}

/* Styles for sidebar items */
.sidebar {
	height: 85%;
	width: 180px;
	background-color: #333;
	color: #fff;
	position: absolute;
	z-index: 1;
	top: 40px;
	padding-top: 40px;
	transition: left 0.3s;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar li {
	padding: 10px 20px;
}

.sidebar li a {
	text-decoration: none;
	color: inherit;
}

.sidebar li:hover {
	opacity: 50%;
	font-size: 105%;
    cursor: pointer;
}

/* Button to toggle the sidebar */
#toggle-btn {
	display: none;
}

#toggle-label {
	background-color: #333;
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	height: 32px;
 	margin-top: 42px;
 	margin-left: 5px;
	padding: 0px 10px;
	z-index: 2;
 	position: absolute; 
	font-size: 25px;
	top: 3px;
    cursor: pointer;
}

/* Media query for screen */
@media screen {
	.sidebar {
		left: -250px;
	}

	#toggle-btn:checked + #toggle-label + .sidebar {
		left: 0;
	}
	#toggle-btn:checked + #toggle-label {
		background-color: maroon;
	}
}
